@import "tailwindcss";
@import "uniwind";

@import "heroui-native/styles";

@theme {
  --font-thin: "Manrope_200ExtraLight";
  --font-light: "Manrope_300Light";
  --font-normal: "Manrope_400Regular";
  --font-medium: "Manrope_500Medium";
  --font-semibold: "Manrope_600SemiBold";
  --font-bold: "Manrope_700Bold";
  --font-black: "Manrope_900Black";

  --font-mono: monospace;
}

@source './node_modules/heroui-native/lib';
